@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 345 90% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 25%;
    --muted-foreground: 0 0% 60%;
    --accent: 35 95% 60%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 345 90% 55%;
    --chart-1: 345 90% 55%;
    --chart-2: 35 95% 60%;
    --chart-3: 197 37% 44%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 10% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 35 95% 60%;
    --sidebar-primary-foreground: 240 10% 3.9%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 20%;
    --sidebar-ring: 35 95% 60%;
  }

  .dark {
    --background: 60 56% 91%;
    --foreground: 0 0% 3.9%;
    --card: 60 56% 94%;
    --card-foreground: 0 0% 3.9%;
    --popover: 60 56% 94%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 345 100% 25.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 60 30% 88%;
    --secondary-foreground: 0 0% 9%;
    --muted: 60 30% 88%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 29 45% 65%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 80%;
    --ring: 345 100% 25.1%;
    --chart-1: 345 100% 25.1%;
    --chart-2: 29 45% 65%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 345 20% 12%;
    --sidebar-foreground: 60 30% 94%;
    --sidebar-primary: 29 45% 65%;
    --sidebar-primary-foreground: 345 20% 12%;
    --sidebar-accent: 345 20% 18%;
    --sidebar-accent-foreground: 60 30% 94%;
    --sidebar-border: 345 20% 20%;
    --sidebar-ring: 29 45% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
